In [11]:
odd = (1 , 3 , 5 , 7 , 9)
even = (2 , 4 , 6 , 8 , 10)

In [21]:
tab = [odd , even]

In [22]:
tab

[(1, 3, 5, 7, 9), (2, 4, 6, 8, 10)]

In [39]:
y = int(input())
x = int(input())
z = x+y
print(z)
if z % 2 ==0:
    print('Evens Win')
else:
    print('Odds Win')

2
3
5
Odds Win

In [41]:
RD_Spend = [235463, 38474346, 893534, 30438, 40279, 473924, 594348343, 473974, 3634, 5755]
Administration = [35232, 27237232, 3428423, 463222, 249232, 2932382, 237923, 59865, 948343, 49824]
Marketing_Spend = [217821, 4343, 65767, 24242, 6466, 45453, 3442, 24242, 2422, 6566]
State = ["New York","Michigan","Florida","Carlifornia","Newark","San Diego","Iowa","Texas","Nevada","Colorado"]
Profit = [32322, 242424, 2424242, 565765, 7878787, 78796, 464456, 546576, 466464, 557565]

In [44]:
tab = {'rd spend':RD_Spend, 'administration':Administration, 'marketing spend':Marketing_Spend, 'State': State, 'profit':Profit}

In [43]:
tab

{'rd spend': [235463,
  38474346,
  893534,
  30438,
  40279,
  473924,
  594348343,
  473974,
  3634,
  5755],
 'administration': [35232,
  27237232,
  3428423,
  463222,
  249232,
  2932382,
  237923,
  59865,
  948343,
  49824],
 'marketing spend': [217821,
  4343,
  65767,
  24242,
  6466,
  45453,
  3442,
  24242,
  2422,
  6566],
 'State': ['New York',
  'Michigan',
  'Florida',
  'Carlifornia',
  'Newark',
  'San Diego',
  'Iowa',
  'Texas',
  'Nevada',
  'Colorado'],
 'profit': [32322,
  242424,
  2424242,
  565765,
  7878787,
  78796,
  464456,
  546576,
  466464,
  557565]}

In [45]:
import pandas

In [46]:
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [47]:
data = pandas.DataFrame(tab)

In [48]:
data

    rd spend  administration  marketing spend        State   profit
0     235463           35232           217821     New York    32322
1   38474346        27237232             4343     Michigan   242424
2     893534         3428423            65767      Florida  2424242
3      30438          463222            24242  Carlifornia   565765
4      40279          249232             6466       Newark  7878787
5     473924         2932382            45453    San Diego    78796
6  594348343          237923             3442         Iowa   464456
7     473974           59865            24242        Texas   546576
8       3634          948343             2422       Nevada   466464
9       5755           49824             6566     Colorado   557565

In [49]:
data.to_excel('data.xlsx')

In [ ]:
data.drop()

In [50]:
x = int(input())
if x > 30:
    print('Formula 1')
else:
    print('Need for Speed')

23
Need for Speed